<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10" *ngFor="let article of news.articles">
        <mat-card>
            <img mat-card-image src="/assets/blank.png" alt="" />
            <mat-card-header>
                <mat-card-title>Lorem ipsum dolor, sit amet consectetur
                     adipisicing elit. Blanditiis, at.</mat-card-title>
                     
            </mat-card-header>
            <mat-card-content>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, at.
                     Laboriosam dolore et molestiae voluptates debitis? Cupiditate expedita, 
                     atque voluptate obcaecati vitae ut ullam facilis similique fugit alias esse ratione.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Favorite</button>
                <button mat-button>Read More</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>